<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>NSAppleEventsUsageDescription</key>
  <string>herdr+ 需要通过 Herdr 读取终端并发送下一轮任务。</string>
  <key>NSAppleScriptEnabled</key>
  <true/>
</dict>
</plist>
